<div *ngIf="$error != undefined">
    <p class="text-danger">{{$error}}</p>
</div>
<div *ngIf="$error == undefined">
    <button class="btn btn-warning" (click)="view_fingerprint()">Escanera Huella</button>
    <div *ngIf="!currentFingerprint">
        <div class="m-auto my-2 bg-secondary" style="width: 150px; height: 200px;"></div>
    </div>
    <div *ngIf="currentFingerprint">
        <p>Huella</p>
        <img 
            id="base64ImageFixed" 
            class="d-block m-auto"
            style="width: 100px; height: auto;"
            src="data:image/jpeg;base64,{{currentFingerprint}}" 
        />
    </div>
    <small class="text-success">Lector de huella en linea.</small>
</div>